{{ $disableImageOptimization := .Page.Site.Params.disableImageOptimization | default false }}
{{ $url := urls.Parse .Destination }}
{{ $altText := .Text }}
{{ $caption := .Title }}

{{ $resource := $.Page.Resources.GetMatch ($url.String) }}
{{ with $resource }}
  <figure>
    {{ if $disableImageOptimization }}
      <img class="my-0 rounded-md" src="{{ .RelPermalink }}" alt="{{ $altText }}" />
    {{ else }}
      <img
        class="my-0 rounded-md"
        srcset="
          {{ (.Resize "330x").RelPermalink }} 330w,
          {{ (.Resize "660x").RelPermalink }} 660w,
          {{ (.Resize "1024x").RelPermalink }} 1024w,
          {{ (.Resize "1320x").RelPermalink }} 2x"
        src="{{ (.Resize "660x").RelPermalink }}"
        alt="{{ $altText }}"
      />
    {{ end }}
    {{ with $caption }}<figcaption>{{ . | markdownify }}</figcaption>{{ end }}
  </figure>
{{ else }}
  <figure>
    <img class="my-0 rounded-md" src="{{ $url.String }}" alt="{{ $altText }}" />
    {{ with $caption }}<figcaption>{{ . | markdownify }}</figcaption>{{ end }}
  </figure>
{{ end }}
